@import "tailwindcss";

html, body {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Light Theme */
:root {
  --background: #f9f9f9;
  --card-bg: #ffffff;
  --card-tag-bg: #fae588;

  --headline: #0f0e17;
  --paragraph: #2e2f3e;
  --accent: #ff8e3c;

  --card-tag-text: #0f0e17;
  --card-paragraph: #2e2f3e;
}

/* Dark Theme */
.dark {
  --background: #242629;
  --card-bg: #16161a;
  --card-tag-bg: #7f5af0;

  --headline: #fffffe;
  --paragraph: #94a1b2;
  --accent: #00a14b;

  --card-tag-text: #fffffe;
  --card-paragraph: #94a1b2;
}
