@import "tailwindcss";

html, body {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Light Theme */
:root {
  --background: #f9f9f9;
  --card-bg: #ffffff;
  --card-tag-bg: #fae588;

  --headline: #0f0e17;
  --paragraph: #2e2f3e;
  --accent: #6c5ce7; 

  --card-tag-text: #0f0e17;
  --card-paragraph: #2e2f3e;
  
  --contact-card-bg: #eceaea;
  --accent-gradient: linear-gradient(135deg, #89aae3, #fbc2eb);
}

/* Dark Theme */
.dark {
  --background: #242629;
  --card-bg: #16161a;
  --card-tag-bg: #5938bc;

  --headline: #fffffe;
  --paragraph: #94a1b2;
  --accent: #16a5d9; 


  --card-tag-text: #fffffe;
  --card-paragraph: #94a1b2;

  --contact-card-bg: #222024;
  --accent-gradient: linear-gradient(135deg, #00cec9, #6c5ce7); 
}

.text-gradient {
  background-image: var(--accent-gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
